.form {
    display: inline-block;
    width: 100%;
    color: #444;
}
    .form > input:not(.btn) {
        display: inline-block;
        float: left;
        width: 45%;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 36px;
        border: none;
        border-bottom: 2px solid #ccc;
    }
    .form > .email {
        display: inline-block;
        float: left;
        width: 45%;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 36px;
        border: none;
        border-bottom: 2px solid #ccc;
    }
        .form > input:not(.btn) + input:not(.btn) {
            margin-left: 10%;
        }
    .form > textarea {
        display: inline-block;
        width: 100%;
        min-height: 100px;
        max-height: 400px;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 25px;
        border: none;
        border-bottom: 2px solid #ccc;
        resize: vertical;
    }

@media (max-width: 900px) {
    form > .form > .email {
        display: inline-block;
        float: left;
        width: 100%;
        
    }
    
        body > .form > input + input {
            margin-left: 0;
        }
} 

