.container {
    display: inline-block;
    width: 100%;
    padding: calc(var(--section-padding) * 2) 0;
}
    .container > .row-short {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        text-align: center ;
        background-color: aquamarine;
    }
    .container > .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
        background-color: blanchedalmond;
    }
        .container > .row  > .column {
            display: inline-block;
            float: left;
        }
            .container > .row  > .column.left {
                display: inline-block;
                width: 50%;
                background-color: rgb(226, 130, 13);
            }
            .container > .row  > .column.right {
                display: inline-block;
                width: 40%;
                margin-left: 10%;
                background-color: blue;
            }